@use "../../../assets/styles/typography.scss";
@use "../../../assets/styles/colors.scss";


.avatarBlockWrapper {
  display: flex;
  gap: 16px;

}

.avatar {
  @include typography.heading-34-700;
  color: colors.$color-body-text-light-300;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-accent-gray;

  &--genInfo {
    width: 88px;
    height: 88px;
  }

  &--formPreview {
    width: 64px;
    height: 64px;
  }
}

.addPicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.avatarInputWrapper {
  label {
    display: inline-block;
    @include typography.button-16-500;
    color: colors.$color-primary;
    padding: 0;
    width: max-content;
    cursor: pointer;
  }

  input {
    display: none;
  }

  button {
    padding: 0;
    width: max-content;
    height: 100%;
  }
}

.avatarReqs {
  padding: 4px 10px;
  @include typography.text-16-400;
  color: colors.$color-body-text;
  background-color: colors.$color-accent-gray;
  border-radius: 4px;
  margin: 0;
}

.avatarError {
  @include typography.text-14-400;
  color: colors.$color-error;
  margin-top: 8px;
}