@use "../../../assets/styles/typography.scss";
@use "../../../assets/styles/colors.scss";

.wrapper {
  position: relative;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  border-radius: 4px;
  background-color: #f4f5f7;
  width: 40px;
  cursor: pointer;
  height: 36px;

  &:hover {
    background-color: transparent;
    border: 1px solid colors.$color-primary;
  }

  &.searchActive {
    width: 298px;
    padding: 0 12px;
    background-color: transparent;
    border: 1px solid colors.$color-primary;
    cursor: default;
  }

  &.dark {
    border: 1px solid #4A4A68;
  }
}

.searchIcon {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.4644 13.9625H14.6766L14.3974 13.6934C15.594 12.2982 16.2122 10.3947 15.8732 8.37165C15.4045 5.60112 13.0911 3.38868 10.299 3.04984C6.08092 2.53161 2.53097 6.07948 3.04951 10.2951C3.38855 13.0855 5.60228 15.3976 8.37443 15.866C10.3987 16.2049 12.3033 15.587 13.6994 14.3911L13.9686 14.6701V15.4574L18.2066 19.6929C18.6154 20.1015 19.2835 20.1015 19.6924 19.6929C20.1012 19.2843 20.1012 18.6166 19.6924 18.208L15.4644 13.9625ZM9.4813 13.9625C6.99833 13.9625 4.994 11.9594 4.994 9.47786C4.994 6.99635 6.99833 4.9932 9.4813 4.9932C11.9643 4.9932 13.9686 6.99635 13.9686 9.47786C13.9686 11.9594 11.9643 13.9625 9.4813 13.9625Z' fill='%23F06864'/%3E%3C/svg%3E");
}

.hiddenSearch {
  display: none;
}

.show {
  display: flex;
  align-items: center;
}

.input {
  width: 214px;
  height: 17px;
  margin: 0 8px;
  border: none;
  outline: none;
  color: #0e0e2c;
  @include typography.text-14-500;
}

.closeIcon {
  opacity: 0;
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M11.1562 9.99895L17.0155 3.01458C17.1137 2.89851 17.0312 2.72217 16.8794 2.72217H15.0981C14.9932 2.72217 14.8928 2.76904 14.8236 2.8494L9.99097 8.61056L5.15838 2.8494C5.09142 2.76904 4.99097 2.72217 4.88383 2.72217H3.10258C2.95079 2.72217 2.8682 2.89851 2.96642 3.01458L8.82579 9.99895L2.96642 16.9833C2.94442 17.0092 2.9303 17.0408 2.92575 17.0745C2.9212 17.1082 2.9264 17.1424 2.94073 17.1732C2.95507 17.204 2.97794 17.23 3.00663 17.2482C3.03532 17.2664 3.06862 17.2759 3.10258 17.2757H4.88383C4.98874 17.2757 5.08919 17.2289 5.15838 17.1485L9.99097 11.3873L14.8236 17.1485C14.8905 17.2289 14.991 17.2757 15.0981 17.2757H16.8794C17.0312 17.2757 17.1137 17.0994 17.0155 16.9833L11.1562 9.99895Z' fill='%234A4A68'/%3E%3C/svg%3E");
}

.closeIconShow {
  opacity: 1;
}

.searchResult {
  display: none;
  position: absolute;
  margin-top: -1px;
  margin-left: 16px;
  top: 36;
}

.showSearchResult {
  z-index: 201;
  display: flex;
  flex-direction: column;
  width: 298px;
  border: 1px solid colors.$color-primary;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 1px 2px 0;
}

.noResultsIcon {
  margin: 34.5px auto 0;
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='41' viewBox='0 0 41 41' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2746 23.7709H24.9616L24.4963 23.3225C26.4906 20.9971 27.5211 17.8246 26.956 14.4528C26.1749 9.83524 22.3191 6.14785 17.6656 5.58311C10.6355 4.7194 4.71894 10.6325 5.58316 17.6585C6.14823 22.3093 9.83778 26.1627 14.458 26.9434C17.8318 27.5081 21.0062 26.4783 23.3329 24.4851L23.7816 24.9502V26.2624L30.845 33.3216C31.5264 34.0026 32.6399 34.0026 33.3213 33.3216C34.0027 32.6406 34.0027 31.5277 33.3213 30.8467L26.2746 23.7709ZM16.3028 23.7709C12.1645 23.7709 8.82399 20.4323 8.82399 16.2965C8.82399 12.1606 12.1645 8.82204 16.3028 8.82204C20.4411 8.82204 23.7816 12.1606 23.7816 16.2965C23.7816 20.4323 20.4411 23.7709 16.3028 23.7709Z' fill='%23F06864'/%3E%3C/svg%3E");

  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.textNoResults {
  text-align: center;
  @include typography.text-14-400;
  color: #354052;
  margin: 12px 0 46.5px;
}
