$color-base: #ffffff;
$color-black: #000000;
$color-base-dark: #0e0e2c;
$color-body-text: #4a4a68;
$color-body-text-light-300: #818e9c;
$color-accent-gray: #f4f5f7;
$color-accent-disabled: #9f9f9f;
$color-accent-light: #f9f9f9;
$color-button-contained: #172135bf;

$color-primary: #f06864;
$color-primary-300: #f59996;
$color-primary-200: #f9c2c1;
$color-primary-100: #fdeae9;

$color-info: #0c57a9;
$color-success: #0a6500 !default;
$color-error: #a20e00;
$color-warning: #c98702;