@use "../../../assets/styles/typography.scss";
@use "../../../assets/styles/colors.scss";

.tab {
  cursor: pointer;
}

.unActive {
  @include typography.text-14-500;
  color: colors.$color-body-text;
  padding: 0px 4px 12px;
}

.active {
  @extend .unActive;
  color: colors.$color-base-dark;
  border-bottom: 4px solid colors.$color-primary;
}