@use "../../../../assets/styles/typography.scss";
@use "../../../../assets/styles/colors.scss";

.emailError {
  display: flex;
  margin-top: 8px;
  color: colors.$color-error;
  @include typography.text-14-400;
  max-width: 360px;
}

.message {
  margin-left: 28px;
}

.passwordErrorContainer {
  margin: 16px 0 0 0;
}

.successMessage {
  display: flex;
  margin-top: 4px;
  color: colors.$color-success;
  @include typography.text-14-400;
}

.errorMessage {
  display: flex;
  margin-top: 4px;
  color: colors.$color-error;
  @include typography.text-14-400;
}

.icon {
  margin-right: 8px;
}

.errorIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_12236_1597)'%3E%3Cpath d='M8.92914 14.6429C8.92914 14.927 9.04202 15.1995 9.24295 15.4005C9.44388 15.6014 9.7164 15.7143 10.0006 15.7143C10.2847 15.7143 10.5572 15.6014 10.7582 15.4005C10.9591 15.1995 11.072 14.927 11.072 14.6429C11.072 14.3587 10.9591 14.0862 10.7582 13.8852C10.5572 13.6843 10.2847 13.5714 10.0006 13.5714C9.7164 13.5714 9.44388 13.6843 9.24295 13.8852C9.04202 14.0862 8.92914 14.3587 8.92914 14.6429ZM9.28628 7.85714V11.9643C9.28628 12.0625 9.36664 12.1429 9.46485 12.1429H10.5363C10.6345 12.1429 10.7149 12.0625 10.7149 11.9643V7.85714C10.7149 7.75893 10.6345 7.67857 10.5363 7.67857H9.46485C9.36664 7.67857 9.28628 7.75893 9.28628 7.85714ZM19.9046 17.6786L10.6189 1.60714C10.4805 1.3683 10.2416 1.25 10.0006 1.25C9.75949 1.25 9.51842 1.3683 9.38226 1.60714L0.0965478 17.6786C-0.178006 18.1563 0.165744 18.75 0.714851 18.75H19.2863C19.8354 18.75 20.1791 18.1563 19.9046 17.6786ZM2.41574 17.0558L10.0006 3.92634L17.5854 17.0558H2.41574Z' fill='%23A20E00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12236_1597'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.errorPasswordIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5.89245 10.7133H14.1067C14.205 10.7133 14.2853 10.6329 14.2853 10.5347V9.46328C14.2853 9.36506 14.205 9.28471 14.1067 9.28471H5.89245C5.79424 9.28471 5.71388 9.36506 5.71388 9.46328V10.5347C5.71388 10.6329 5.79424 10.7133 5.89245 10.7133Z' fill='%23A20E00'/%3E%3Cpath d='M18.2144 1.07178H1.78582C1.39073 1.07178 1.07153 1.39097 1.07153 1.78606V18.2146C1.07153 18.6097 1.39073 18.9289 1.78582 18.9289H18.2144C18.6095 18.9289 18.9287 18.6097 18.9287 18.2146V1.78606C18.9287 1.39097 18.6095 1.07178 18.2144 1.07178ZM17.3215 17.3218H2.67868V2.67892H17.3215V17.3218Z' fill='%23A20E00'/%3E%3C/svg%3E");
}

.successPasswordIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.23886 13.2515C8.30456 13.3432 8.39118 13.4179 8.49152 13.4695C8.59187 13.521 8.70306 13.5479 8.81587 13.5479C8.92868 13.5479 9.03987 13.521 9.14021 13.4695C9.24056 13.4179 9.32717 13.3432 9.39288 13.2515L14.0938 6.73364C14.1786 6.61534 14.0938 6.45016 13.9487 6.45016H12.9018C12.6741 6.45016 12.4576 6.55953 12.3237 6.74703L8.81698 11.6131L7.2277 9.40775C7.09377 9.22248 6.87948 9.11087 6.64957 9.11087H5.6027C5.45761 9.11087 5.37279 9.27605 5.45761 9.39435L8.23886 13.2515Z' fill='%230E7900'/%3E%3Cpath d='M18.2149 1.06934H1.78631C1.39122 1.06934 1.07202 1.38853 1.07202 1.78362V18.2122C1.07202 18.6073 1.39122 18.9265 1.78631 18.9265H18.2149C18.61 18.9265 18.9292 18.6073 18.9292 18.2122V1.78362C18.9292 1.38853 18.61 1.06934 18.2149 1.06934ZM17.322 17.3193H2.67916V2.67648H17.322V17.3193Z' fill='%230E7900'/%3E%3C/svg%3E");
}